*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'AlphaLyrae';
  src: url('/fonts/AlphaLyrae-Medium.woff2') format('woff2'),
    url('/fonts/AlphaLyrae-Medium.woff') format('woff');
  font-style: normal;
}

@font-feature-values 'AlphaLyrae' {
  @styleset {
    ss01: 1;
    ss02: 2;
    ss03: 3;
    ss04: 4;
    ss05: 5;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

:root {
  font-size: 14px;
  --color-text: #fff;
  --color-bg: #0b0826;
  --color-bg-alt: hsl(222.55deg 100% 49.22%);
  --color-link: #fff;
  --color-link-hover: #fff;
  --color-title: #fff;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'Tenon', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

a:focus {
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  background: transparent;
}

a:focus-visible {
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.frame {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 'title' 'back' 'prev' 'sponsor';
  grid-gap: 0.5rem;
  justify-items: start;
  align-self: start;
  justify-self: start;
  pointer-events: none;
  align-items: center;
}

body #cdawrap {
  justify-self: start;
}

.frame a {
  pointer-events: auto;
}

.frame a:not(.frame__title-back) {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.frame a:not(.frame__title-back)::before {
  content: '';
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 90%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

.frame__prev {
  grid-area: prev;
}

.frame__credits {
  grid-area: credits;
}

.intro {
  height: calc(100vh - 3rem);
  padding-top: 10vh;
  text-align: center;
  place-items: center;
  display: grid;
  grid-template-areas: 'intro';
  margin-bottom: 80vh;
  background: linear-gradient(0deg, transparent, var(--color-bg-alt));
}

.intro__title {
  grid-area: intro;
  place-items: center;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  font-size: clamp(3rem, 9vw, 12rem);
  font-family: 'AlphaLyrae', sans-serif;
}

.intro__title-pre {
  font-feature-settings: 'ss01' 1, 'ss03' 1;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(17, 17, 56, 0.4);
  border-radius: 999px;
}

.intro__info {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.content-wrap {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1.5rem 10vh;
}

.content {
  position: relative;
  margin: 0 auto 25vh;
}

.content--intro {
  pointer-events: none;
}

.content__img-wrap {
  width: clamp(280px, 70vw, 680px);
  aspect-ratio: 3 / 4;
  margin: 0 auto 2rem;
  position: relative;
  transform-style: preserve-3d;
}

.content__img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.content__img-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  inset: 0;
}

.content__img-inner--hidden {
  opacity: 0;
  pointer-events: none;
}

.content__text {
  font-size: clamp(1.2rem, 2vw, 2.3rem);
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  display: grid;
  gap: 0.35rem;
  text-align: center;
}

.content__text--left {
  text-align: left;
}

.content__text--center {
  text-align: center;
}

.content__text--large {
  font-size: clamp(2rem, 4vw, 3.4rem);
}

.content__text-tiny {
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-transform: none;
  line-height: 1.6;
  max-width: 32ch;
  display: block;
}

.content__title {
  font-size: clamp(2rem, 6vw, 4rem);
  margin-bottom: 3rem;
  text-align: center;
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.card {
  display: grid;
  gap: 0.75rem;
}

.card__image {
  border-radius: 1.25rem;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 66%;
  display: block;
}

.card__title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

.credits {
  text-align: center;
  margin: 4rem 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .frame {
    padding: 2rem 3rem;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'title . prev' 'title . back';
  }

  .frame__title {
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}
